.About {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "PT Sans",'sans-serif';
    min-width: 100vh;
    min-height: 100vh;
    font-weight: 700;
  }
  @media (max-width: 1000px) {
    .About {
      min-width: 50vh;
      min-height: 50vh;
    }

  }
  @media (max-width: 600px) {
    .About {
      min-width: 25vh;
      min-height: 25vh;
    }

  }