.Loader{
  
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 3px dashed black;
    animation: rotate 1s infinite linear;
   margin:auto;
    margin-top: 200px ;
    
    }
    
    @keyframes rotate{
    
    
        from{
    
    transform: rotate(0deg) scale(1);
        }
        to{
    
            transform: rotate(360deg) scale(1.5);
        }
    
    }
  