.select{
font-family: "PT Sans",'sans-serif';
width:160px;
height:26px;
font-weight: 700;
margin-right:0px;
margin-left:100px;
align-self:baseline;
margin-right: 137px;
border-radius: 3px;
}
@media (max-width: 450px) {
    .select {
        margin-left:0px;
        
   
    }
}