.greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "PT Sans", sans-serif;
  background-image: url("../../assets/Logo/full_screen_logo.jpg");
  background-size:40%

}
.form {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height:650px;
  justify-content: center;
  align-content: center;
  background-color:  #F4C430;
  border-radius:6px;
}
.DataEntry{
  margin-bottom:50px;
  width: 500px;
  height: 50px;
  text-align: center;
  font-weight: 700;
  font-size:20px;
  border-radius:3px;
  padding:10px;
}

.NextPage {
  margin: 30px 50px 30px 50px;
  width: 100%;
  border-radius: 3px;
  height: 40px;
  cursor: pointer;
  border:none;
  background-color:black;
  color:white;
  font-size:15px;
  font-weight: 700;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.8);
}

.commonInp{
  display: flex;
  flex-wrap:wrap;
  margin-top:0px;
  margin-bottom:50px;
  box-sizing:border-box;
  width:90%;
  height:90px;
}
  .inpPlusFig{
      width:100%;
      display: flex;
      position:relative;
      flex-wrap:wrap;
      height:60%;
  }
      .log, .pass, .logAttent, .passAttent {
          width:100%;
          height:80%;
          margin:0px;
          padding: 0px;
          border-radius: 3px;
          border-style:groove;
          border-color:gray;
          border-style:double;
          box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.8);
        }
        .logAttent, .passAttent {
          border: 3px red solid;
        }
        .nameInput{
          font-weight: 800;

        }


        @media (max-width: 450px) {
          .commonInp{
            width:100%;
          }
        }