.bottomforBackorSendOrderBlack, .bottomforBackorSendOrderGrey{
    background-color: black;


    margin-top:24px;
    width:95%;
    height:50px ;
    color:white;
    border:hidden;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  
}
.bottomforBackorSendOrderGrey{
    background-color: #59606D;  
}

/* mobile */
@media (max-width: 450px) {
    .bottomforBackorSendOrderBlack , .bottomforBackorSendOrderGrey {
        width:70%;
    }}