.bottomforBackorSendOrderBlack{

    margin-top:24px;
    width:364px;
    background-color: black;
    height:50px ;
    color:white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  
}
.bottomforBackorSendOrderGrey{

    margin-top:24px;
    width:364px;
    border:hidden;
    background-color: #59606D;
    height:50px ;
    color:white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  
}