.BlockOrder {
  width: 95%;
  height: 120px;
  padding: 0px;
  position: relative;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  margin-bottom: 12px;
  margin-left: 10px;
  margin-right: 10px;
}

.raiting {
  position: absolute;
  color: #f2c94c;
  bottom: 16px;
  left: 150px;
  margin: 0;
  padding: 0;
}

.Title {
  position: absolute;
  top: 12px;
  left: 130px;
  color: #59606d;
  font-size: 14px;
  width: 170px;
  height: 36px;
  font-weight: 800;
  font-family: "PT Sans";
}

.Price {
  position: absolute;
  width: 80px;
  height: 18px;
  top: 54px;
  left: 130px;
  font-weight: 700;
  width: 100px;
}

.content_picture {
  position: absolute;
  left: 25px;
  top: 15px;
  width: 70px;
  height: 90px;
}

.img_starForRaiting {
  position: absolute;
  left: 130px;
  bottom: 16px;
  margin: 0;
  padding: 0;
}

.img_trash {
  position: absolute;
  right: 22px;
  bottom: 10px;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 40px;
  cursor: pointer;
}

/* mobile */
@media (max-width: 450px) {
  .BlockOrder {
    width: 100%;
    height: 240px;
    margin-left: 0px;
  }

  .content_picture {
    top: 40px;
    left: 25px;
    width: 120px;
    height: 150px;
  }

  .Title {
    left: 150px;
    top: 20px;
    font-size: 15px;
  }

  .Price {
    left: 150px;
    top: 80px;
    font-size: 20px;
  }

  .img_trash {
    bottom: 20px;
    width: 40px;
    height: 50px;
  }

  .img_starForRaiting {
    left: 150px;
    top: 117px;
    width: 30px;
    height: 30px;
  }

  .raiting {
    left: 180px;
    top: 120px;
    font-size: 20px;
    font-weight: 800;
  }
}
@media (max-width: 350px) {
  .BlockOrder {
    height: 300px;
  }
  .content_picture {
    left: 45px;
    top: 20px;
  }

  .Title {
    left: 25px;
    top: 200px;
  }

  .Price {
    left: 25px;
    top: 250px;
  }
  .img_starForRaiting {
    left: 190px;
    top: 38px;
  }

  .raiting {
    left: 220px;
    top: 40px;
  }
}
@media (max-width: 310px) {
  .img_starForRaiting {
    left: 170px;
  }

  .raiting {
    left: 200px;
  }
}
@media (max-width: 290px) {
  .content_picture {
    left: 15px;
  }
  .img_starForRaiting {
    left: 140px;
  }

  .raiting {
    left: 170px;
  }
}
