.App {
  max-width: 100%;
  max-height: 100%;
}

.Allcontent {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 50%;
  margin-left: 248px;
  margin-top: -150px;
  margin-bottom: 66px;
}

.Filter {
  font-family: "PT Sans";
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 42px;
  margin-bottom: 0px;
}

.TitleMenu {
  font-weight: 700;
  font-size: 32px;
  color: #1f1f1f;
  font-style: normal;
  align-self: baseline;
  margin-left: 88px;
}

/* .NothingOrder {
  font-family: "PT Sans";
  margin-left: 48px;
}

.TitleBasket {
  font-size: 32px;
  font-weight: 700;
  margin-top: 24px;
}

.BasketAttention {
  font-size: 22px;
  margin-top: 24px;
  max-width: 364px;
}

.OrderPosition {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 32px;
  margin-left: 48px;
  margin-right: 48px;
} */

/* .SetOrder {
  font-size: 18px;
  margin-top: 32px;
  margin-bottom: 16px;
  color: #59606d;
}

.ProductBasket {
  color: #59606d;
  font-size: 18px;
  margin-top: 24px;
  width: 100%;
  height: 23px;
  margin-top: 24px;
  margin-bottom: 20px;
} */

.Error {
  text-align: center;
  margin-top: 200px;
}

/* .HeaderModal {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.cross {
  width: 14px;
  height: 14px;
  cursor: pointer;
  
} */

/* mobile */
@media (max-width: 550px) {
  .Allcontent {
    margin-top: 70px;
    width: 100%;
    margin-left: 0px;

  }
}
@media (max-width: 450px) {
  /* .HeaderModal {
    width:100%;
    margin-left: 0px;
  } */
  .Filter {
    flex-direction: column-reverse;
    margin-left: 40px;
    width: 70%;
  }

   .TitleMenu {
    margin-left: 0px;
    margin-top: 50px;
  }
  /*.cross {
    margin-right: 0px;

  }
  .OrderPosition {

    margin-left: 10px;
    margin-right: 10px;
  }
  .NothingOrder {
    width:100%;
    margin-left: 5px;
  } */

}

@media (max-width: 350px) {
  .Allcontent {
    margin-top: 100px;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }

}
