.App {
  min-width: 100%;
  min-height: 100%;

}

.Allcontent {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 50%;
  margin-left: 248px;
  margin-top: -150px;
  margin-bottom: 66px;

}

.Filter {
  font-family: "PT Sans";
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 42px;
  margin-bottom: 0px;
}

.TitleMenu {
  font-weight: 700;
  font-size: 32px;
  color: #1f1f1f;
  font-style: normal;
  align-self: baseline;
  margin-left: 88px;
}



.Error {
  text-align: center;
  margin-top: 200px;
}



/* mobile */

@media (max-width: 800px) {
.App {
  background-image: none;
}
}

@media (max-width: 550px) {
  .Allcontent {
    margin-top: 70px;
    width: 100%;
    margin-left: 0px;

  }
}
@media (max-width: 450px) {
 
  .Filter {
    flex-direction: column-reverse;
    margin-left: 40px;
    width: 70%;
  }

   .TitleMenu {
    margin-left: 0px;
    margin-top: 50px;
  }
 

}

@media (max-width: 350px) {
  .Allcontent {
    margin-top: 100px;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }

}
