.ButtonForOrder {
  position: relative;
  margin-top: 10px;
  margin-right: 108px;
  margin-left: 50px;
  width: 24px;
  height: 26px;
  background-color: white;
  cursor: pointer;
}

.imgButtonForOrder {
  width: 40px;
  height: 30px;
}

.cicle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #959dad;
  left: 16px;
  top: -4px;
}

.qualityOfOrder {
  font-family: "PT Sans";
  text-align: center;
  color: white;
  font-size: 8px;
  font-weight: 700;
}

/* mobile */

@media (max-width: 1000px) {
  .ButtonForOrder {
    margin-right: 10px;
  }
}

@media (max-width: 280px) {
  .ButtonForOrder {
    margin-right: 10px;
  }
}
