.modalForOrder {
  position: fixed;
  background: rgba(255, 255, 255, 0.5);
  left:0 ;
  right:0;
  top:0;
  bottom:0;
  display: none;
  font-family: "PT Sans", sans-serif;
  overflow-y: scroll;

}

.contentOfModal {
  display: flex;
  width:460px;
  background:white;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.2);
  
}

.modalForOrder.active {
 
    display: flex;  
    flex-wrap: wrap;
    justify-content: end;
    margin: 0;
    
}
@media (max-width: 450px) {
  .contentOfModal  {
      width:100%;
  }}