.blockForContent {
  width: calc(25% - 12px);
  height: 272px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.2);
  font-family: "PT Sans", sans-serif;
  border-radius: 5%;
}

.raiting {
  position: absolute;
  top: 20px;
  left: 27px;
  color: black;
  font-weight: 700;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.TitleOfThing {
  position: absolute;
  bottom: 40px;
  left: 16px;
  color: black;
  font-size: 14px;
  height: 18px;
  font-weight: 800;
  font-style: normal;
}

.Price {
  position: absolute;
  bottom: 4px;
  left: 16px;
  font-weight: 700;
}

.content_picture {
  position: absolute;
  left: 61px;
  top: 18px;
  width: 142px;
  height: 180px;
}

.img_starForRaiting {
  position: absolute;
  left: 6px;
  top: 20px;
  margin: 0;
  padding: 0;
}

.ForOrder {
  position: absolute;
  right: 18px;
  bottom: 17px;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

/* mobile */

@media (max-width: 1900px) {
  .blockForContent {
    width: calc(33% - 12px);
  }
}

@media (max-width: 1600px) {
  .blockForContent {
    width: calc(45% - 12px);
  }
  .ForOrder {
    top: 17px;
  }
}

@media (min-width: 900px) and (max-width: 1300px) {
  .blockForContent {
    width: calc(65% - 12px);
  }
}

@media (min-width: 610px) and (max-width: 900px) {
  .blockForContent {
    width: calc(90% - 12px);
  }
}

@media (min-width: 0px) and (max-width: 610px) {
  .blockForContent {
    width: 100%;
  }
  .TitleOfThing {
    font-size: 18px;
  }
}
@media (min-width: 00px) and (max-width: 550px) {
  .blockForContent {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (min-width: 450px) and (max-width: 550px) {
  .blockForContent {
    width: 100%;
  }

  .content_picture {
    left: 110px;
  }
}

@media (min-width: 0px) and (max-width: 350px) {
  .blockForContent {
    height: 300px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .content_picture {
    left: 40px;
  }
  .TitleOfThing {
    bottom: 70px;
  }
  .ForOrder {
    top: 250px;
  }
  .raiting {
    left: 21px;
  }
  .img_starForRaiting {
    left: 0px;
  }
}
